    body{margin:0px;
         padding:0px;
        background-color: #122a35;
        color: #99a0a2;}
	.header{
        margin:0;
        padding-top:20px;
        padding-bottom:20px;
        background-color:rgb(3, 38, 57);
        text-align:center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    	color: #fff;
        width: 100%;
        }


    nav ul{
        list-style-type: none;
        background-color:rgb(40, 88, 119);
        padding-top:10px;
        padding-bottom: 10px;
        margin:0;
        
    }
    nav ul li{
        display:inline;
        margin-right:20px;
        font-size: 20px;
        padding: 10px;
    }
    nav ul li:hover{
        background-color:rgb(17, 121, 225);
    }
    .container{
        padding: 10px;
        margin: auto;
        width: 900px;
        font-size: large;
    }
    .footer{
        background-color:gray;
        text-align:center;
        margin-bottom:0px
 
    }
       
    table, th,td{
        border: 1px solid;
        border-collapse: collapse
    }
    th,td{
        padding: 15px;
    }
    tr:nth-child(even){
        background-color: rgb(13, 30, 28);
    }
    tr:hover{
        background-color: rgb(9, 22, 26);
    }
    table{
        margin: auto;
        border-spacing:30px ;
        width: 50%;
    }
    

    form{
        margin: auto;
        padding: 50px;
        width: 50%;
        height: 30%;
        border: solid 2px rgb(203, 203, 238);;
        border-radius: 22px;      
    }
    form input, textarea{
        width: 400px;
        background-color: #9aaeb7;
    }
    form .submitBtn{
        margin: auto;
        background-color: #1e947d;
        border-radius: 10px;
        width: 100px;
        font-style:italic;
        font-size:large;
    }
   