    *{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    body{
        margin:0;
        padding:0;
        background-color: #122a35;
        color: #99a0a2;
    }
	.MenuParent{
        margin:0;
        background-color:rgb(3, 38, 57);
        text-align:center;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    	color: #fff;
        width: 100%;        
    }
    
    .header{
        text-align: center;
        margin: 0;
        padding-top: 10px;
        font-size: 5vh;
    }
    .red{
        font-size: 12vh;
        color: red;
    }
    a{
        text-decoration: none;
    }
    .MenuParent nav{
        background-color:rgb(43, 90, 122);
        width:100%;
        margin: 0;
        padding: 0;
    }
    nav,a{
        color: #fff;
    }

    nav ul{
        list-style-type: none;
        padding-top:10px;
        padding-bottom: 10px;
        margin:0;
        
    }
    nav ul li{
        display:inline;
        margin-right:20px;
        font-size: 20px;
        padding: 10px;
    }
    nav ul li:hover{
        background-color:rgb(17, 121, 225);
    }
    .container{
        padding: 10px;
        margin: auto;
        width: 1000px;
        font-size: large;
    }
    .images{
        display: flex;
    }
    section{
        margin: auto;
    }
    footer{
        background-color:rgb(255, 253, 253);
        text-align:center;
        margin-bottom:0px;
        color: #122a35; 
    }
       
    table, th,td{
        border: 1px solid;
        border-collapse: collapse
    }
    th,td{
        padding: 15px;
    }
    tr:nth-child(even){
        background-color: rgb(13, 30, 28);
    }
    tr:hover{
        background-color: rgb(9, 22, 26);
    }
    table{
        margin: auto;
        border-spacing:30px ;
        width: 50%;
    }
    

    form{
        margin: auto;
        padding: 50px;
        width: 50%;
        height: 30%;
        border-radius: 22px;  
        background-color: #0b3b4c;    
    }
    form fieldset{
        border: solid 1px;
    }
    form input, textarea{
        width: 400px;
        background-color: #9aaeb7;
    }
    form .submitBtn{
        margin: auto;
        background-color: #1e947d;
        border-radius: 10px;
        width: 100px;
        font-style:italic;
        font-size:large;
    }
   