    *{
        box-sizing: none;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    body{
        margin:0;
        padding:0;
        background-color: #fff;
        color: #3c4041;
    }
	.MenuParent{
        margin:0;
        background-color:rgb(3, 38, 57);
        text-align:center;
    	color: #fff;
        width: 100%;        
    }
    
    .header{
        text-align: center;
        margin: 0;
        padding-top: 10px;
        font-size: 5vh;
    }
    .red{
        font-size: 12vh;
        color: red;
    }
    a{
        text-decoration: none;
    }
    .MenuParent nav{
        background-color:rgb(43, 90, 122);
        width:100%;
        margin: 0;
        padding: 0;
    }
    nav,a{
        color: #fff;
    }

    nav ul{
        list-style-type: none;
        padding-top:10px;
        padding-bottom: 10px;
        margin:0;
        
    }
    nav ul li{
        display:inline;
        margin-right:20px;
        font-size: 20px;
        padding: 10px;
    }
    nav ul li:hover{
        background-color:rgb(17, 121, 225);
    }

    .subMenu{
        position: relative;
        display: inline-block;
    }
   
    .subMenu ul {
        position: absolute;
        display:none;
        background-color: #a3e2f4;
        z-index: 1;
        top: 50px;
        padding: 1rem;
        border-radius:0px 1rem  1rem ;
        border: solid 2px;
    }
    .subMenu ul li{
        width: 15rem;
        margin: 0;
        text-align: left;
        color: black;
        display: block;
        border-bottom: solid 1px rgb(30, 61, 93);
        
    }
    .subMenu:hover ul   {
        display: block;
    }
    .subMenu li:hover{
        
        background-color: #0b3b4c;

    }
    .sidebar{
        position: absolute;
        display: block;
        width: 15rem;
        height: 100%;
        padding: 2rem 0 ;
       border: solid;
        background-color: #02252c;

    }
    .sidebar ul {
    
        display: inline-block;
        margin: auto;
        width: 15rem;
        height: 100%;

    }
    .sidebar ul li {
        display: inherit;
        width: 10rem;
        float: left;
        margin: 12px auto;
        text-align: center;
        padding: 0;
	    
    }
    


    .container{
        padding: 0 1rem;
        margin: auto;
        width: 90%;
        font-size: large;
    }
    
    .slideContainer{
        padding: 0;
        display: flex;
    }
    .sliderWrapper{
        position: relative;
        max-width: 70rem;
        margin: auto;

    }
    .slider{
        display: flex;
        width: 73rem;
        height: 30rem;
        aspect-ratio: 16/9;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%,0%,0.25);
    }


    .slider img{
        flex: 1 0 100%;
        scroll-snap-align: start;
    }
    .slider-nav{
        display: flex;
        column-gap:1rem ;
        position: absolute;
        bottom: 1.25rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    .slider-nav a{
        width: 1rem;
        height: 1rem;
        background-color: #fff;
        opacity: 0.75;
        border-radius: 50%;
        transition:opacitty ease 250ms;

    }
    .slider-nav a:hover{
        background-color: #0b3b4c;
    }

    .images{
        display: flex;
    }
    img:active{
        width: 500px;
        height: auto;
        position: sticky;
    }
    img:hover{
        width: 500px;
        height: auto;

    }
   
    .links a{

        color: #0f2529;
    }
    .links a:hover{

        color: #6299a4;
    }
    footer{
        width: 100%;
        text-align: center;
        background-color:rgb(16, 38, 65);
        color: #fff; 
        position: fixed;
        bottom: 0;
        border: solid black;  
    }
       
    table, th,td{
        border-collapse: collapse
    }
    th,td{
        padding: 15px;
    }
    tr:nth-child(odd){
        background-color: rgba(4, 62, 87, 0.552);

    }
    tr:nth-child(even){
        background-color: rgb(150, 198, 210);
    }
    tr:hover{
        background-color: rgb(89, 140, 156);
    }
    table{
        margin: auto;
        border-spacing:30px ;
        width: 50%;
    }
    
    form{
        margin: 2rem auto;
        padding: 50px;
        width: 40%;
        height: 30%;
        border-radius: 22px;  
        background-color: rgb(84, 101, 121);
        border: solid;
        font-family: inherit;

    }
    form fieldset{
        border: solid 1px;
    }
    form input{
        height: 2rem;
    }
    form label{
        margin: auto;
        color: rgb(28, 27, 27);
    }
    form input, textarea{
        width: 100%;
        background-color: #c9dadf;
        font-size: inherit;
        margin: 1rem auto;
    }
    form .submitBtn{
        margin: auto;
        background-color: #1e947d;
        border-radius: 10px;
        width: 200px;
        font-style:italic;
        font-size:large;
    }
    form .submitBtn:hover{
        background-color: rgb(54, 151, 46);
    }
    .login{
        width: 30%;
        border: solid;
        border-radius: 0rem 6rem;
        height: 30rem;
        margin: 19rem auto;
        padding: 2rem 3rem;
        background: linear-gradient(rgb(6, 27, 27),rgb(111, 210, 232));
        color: #fff;

    }
    .login-header{
        text-align: center;
        margin: 0;
        padding: 0;
        height: 20%;
    }
    .login-header li{
        font-size: 3rem;
        margin: 1rem;
    }
    .login .log-form{
        width: 100%;
        height: 80%;
        border:none;
        padding: 0rem;
        margin: auto;
        background-color: inherit;
    }

    .log-form label, .log-form input{
        margin: 1rem;
        width: 90%;
    }
    .log-form input{
                background-color: #c9dadf;

    }
    .log-form a{
        margin: 3rem auto;
        width: 40%;
        display: flex;
        padding: 1rem;
        justify-content: center;
        font-family: inherit;

    }
